.header__lang-link {
   color: #fff;
   font-size: 24px;
   font-weight: 400;
   line-height: 28px;
   text-decoration: none;
   margin-right: 18px;
   text-decoration: underline;
}

.header__lang-link:last-child {
   margin-right: 0;
   text-decoration: none;
}