.cover__link {
  text-decoration: none;
  width: 1184px;
  height: 740px;
  background-image: url(../../../images/cover__background.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cover__link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2A2C2F;
  opacity: 0.3;
}

.cover__link:hover:before {
  opacity: 0.8;
}

@media screen and (max-width: 1184px) {
  .cover__link {
    width: 100vw;
    height: calc(0.625 * 100vw);
  }
}