.photo-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
  margin: 92px auto 0 auto;
  max-width: 1184px;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(3, 300px);
    gap: 14px;
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(2, 352px);
    gap: 16px;
    margin: 88px auto 0 auto;
    max-width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    grid-template-columns: repeat(1, 288px);
    gap: 12px;
    margin: 64px auto 0 auto;
    max-width: 288px;
  }
}
