.places {
  display: grid;
  justify-content: center;
  margin-top: 92px;
}

@media screen and (max-width: 1279px) {
  .places {
    margin-right: 48px;
    margin-left: 48px;
  }
}

@media screen and (max-width: 1023px) {
  .places {
    margin: 88px 24px 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .places {
    margin: 64px 0 0 0;
  }
}