.lead__subtitle {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  max-width: 640px;
  text-align: center;
  margin: 32px auto 0;
}

@media screen and (max-width: 767px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin: 16px auto 0;
  }
}
