.lead__caption {
   font-size: 10px;
   line-height: 14px;
   font-weight: 400;
   text-transform: uppercase;
   margin-top: 8px;
}

@media screen and (max-width: 767px) {
   .lead__caption {
      margin-left: 16px;
   }
}