.lead__figure {
  max-width: 984px;
  margin: 64px auto 0 auto;
}

@media screen and (max-width: 1279px) {
  .lead__figure {
    max-width: 928px;
    margin-top: 56px;
  }
}

@media screen and (max-width: 1023px) {
  .lead__figure {
    max-width: 768px;
    margin: 56px auto 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .lead__figure {
    max-width: 320px;
    margin: 40px auto 0 auto;
  }
}
