.footer {
  display: flex;
  align-content: center;
  justify-content: space-between;
  max-width: 1184px;
  margin: 92px auto 24px auto;
}

@media screen and (max-width: 1289px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .footer {
    max-width: 720px;
    margin: 88px auto 24px auto;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    align-content: flex-start;
    margin: 64px 118px 24px 16px;
  }
}
